altgraph==0.17.3
asciimatics==1.14.0
colorama==0.4.6
future==0.18.3
pefile==2023.2.7
Pillow==9.5.0
playsound==1.2.2
prettytable==3.9.0
pyfiglet==0.8.post1
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
pywin32==306
pywin32-ctypes==0.2.2
termcolor==2.3.0
wcwidth==0.2.6
